<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Download</title>
</head>
<body>
    <div class="container">
        <div class="nav-bar">
            <span><a href="/" class="fancy-font large">PaddyAddons</a></span>
            <nav class="links">
                <ul>
                    <li><a href="/"><button type="button">Home</button></a></li>
                    <li><a href="features"><button type="button">Features</button></a></li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <h3 class="sub-title">Latest Download</h3>
            <div class="download-btn-field">
                <a href="download/latest" download><button class="download-btn" type="button">Download</button></a>
            </div>
            <h3 class="sub-title">Important Notes:</h3>
            <div class="latest-changelog">
                <ul>
                    <li class="changelog-removed">Due to GitHub changing the URL of the SSL certificate required to request to replit, the update checker will not work as of right now.</li>
                    <li class="changelog-removed">I'm not sure yet, whether I'll push a fix to this, or even work on a permanent solution, but we'll see what I can make happen as time goes on.</li>
                    <li class="changelog-removed">For now, you will just have to live with the current version that you have access to. And if there will ever be another update, then you will for sure be able to get it here!</li>
                </ul>
            </div> 
            <!--
            <h3 class="sub-title">Changelog from the latest release(s)</h3>
            <div class="latest-changelog">
                <ul>
                    <li class="changelog-added">Added an indicator to the Term AC which shows whether its on or not<br>-> (A small colored blob)</li>
                    <li class="changelog-added">Made the color of the Term AC indicator choosable<br>-> Move-GUI to chose the position</li>
                    <li class="changelog-added">Added an Update Checker which notifies you when there's a new version available</li>
                    <li class="changelog-added">Added a 2nd ping calculation method which gets your ping off of the server list</li>
                    <li class="changelog-fixed">Fixed an occasional crash with the Livid Solver<br>-> If this fix broke it, please report it to me!</li>
                    <li>Changed the Essential notifications title to use the custom prefix instead of a generic text</li>
                    <li class="changelog-added">Added a better chroma method. It doesn't use a shader but its a little better already</li>
                    <li class="changelog-fixed">Fixed the /showextrastats macro, since hypixel for some reason decided to make it so you'd have to click the chat msg twice instead of just once as it used to be.</li>
                    <br>
                    <li>Small changelog for v. 2.7:</li>
                    <li class="changelog-fixed">Fixed a crash with auto equip jellyfish which would happen when you'd only have 1 page of pets</li>
                </ul>
            </div>
            -->
        </div>
    </div>
</body>
</html>