<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Features</title>
</head>
<body>
    <div class="container">
        <div class="nav-bar">
            <span><a href="/" class="fancy-font large" id="test-heading">PaddyAddons</a></span>
            <nav class="links">
                <ul>
                    <li><a href="/"><button type="button">Home</button></a></li>
                    <li><a href="download"><button type="button">Download</button></a></li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <h3 class="sub-title">Dungeons</h3>
            <div class="feature-list">
                <ul>
                    <li>Terminator Autoclicker</li>
                    <li>Stonkless Stonk</li>
                    <li>Auto Show Extra Stats</li>
                    <li>Rogue Sword Keybind -> (might be currently broken)</li>
                    <li>Livid Solver</li>
                    <li>Join Dungeon Keybind</li>
                    <li>Dungeons ESP<br> -> Individual Config Options</li>
                    <li>Chest Closer</li>
                    <li>Auto Ready Up</li>
                    <li>Auto Equip Jellyfish</li>
                    <li>Anti Carpets</li>
                    <li>Regular Ability Keybind</li>
                </ul>
            </div>
            <h3 class="sub-title">Macros</h3>
            <div class="feature-list">
                <ul>
                    <li>Axe of the Shredded Macro</li>
                    <li>Custom Item Macros<br> -> Soon to come with a custom GUI</li>
                    <li>Better Wardrobe</li>
                    <li>Ghost Blocks</li>
                </ul>
            </div>
            <h3 class="sub-title">Miscellaneous</h3>
            <div class="feature-list">
                <ul>
                    <li>Mod Message Renderer</li>
                    <li>Custom Mod Prefix</li>
                    <li>Block Abilities</li>
                    <li>Auto Salvage (works with Crimson Essence items)</li>
                    <li>Chat Filters<br> -> Custom GUI</li>
                    <li>Custom Entity ESP<br> -> Use "/track", "/untrack" and "/showtracked" to find out howt this feature works</li>
                    <li>Hypixel Ping</li>
                    <li>Inventory Buttons</li>
                    <li>Various Move-GUIs<br> -> for different features like the Term AC indicator, or the Mod Message Renderer</li>
                    <li>Clearlag command<br> -> use "/clearlag" to clean up your system's memory, which possibly restores some fps</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>