<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>PaddyAddons</title>
</head>
<body>
    <div class="container">
        <div class="nav-bar">
            <span><a href="/" class="fancy-font large">PaddyAddons</a></span>
            <nav class="links">
                <ul>
                    <li><a href="features"><button type="button">Features</button></a></li>
                    <li><a href="download"><button type="button">Download</button></a></li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <h3 class="sub-title">Frequently Asked Questions</h3>
            <div class="questions-section">
                <div class="question">Is PaddyAddons bannable?</div>
                <div class="answer">Every mod is use at your own risk, and PaddyAddons is no exception. I however try to keep the ban risk as low as possible, and so far there have not been any bans related to PaddyAddons.</div>
            </div>
            <div class="questions-section">
                <div class="question">How frequently is the mod getting updated?</div>
                <div class="answer">
                    I try to update PaddyAddons as frequently as i possibly can, however there may be times where I'm super busy and can't get as many updates done as I would like to.
                </div>
            </div>
            <div class="questions-section">
                <div class="question">Is PaddyAddons a rat?</div>
                <div id="rat-answer" class="answer">
                    <span>PaddyAddons is NOT a rat.</span>
                    <span>
                        However it does contain a Login-Tracker which shares information about who uses PaddyAddons, but it only sends your Username, your UUID and your current Version of PaddyAddons.
                    </span>
                </div>
            </div>
            <div class="questions-section">
                <div class="question">
                    Does PaddyAddons have a discord?
                </div>
                <div class="answer">
                    For now, PaddyAddons doesn't have a public discord, this website is the only way to get the mod.
                </div>
            </div>
        </div>
    </div>
</body>
</html>